* {
    margin: 0;
    padding: 0;
}

.box {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
}

.datos {
    display: flex;
    flex-direction: column;
}

.tips {
    display: grid;
    grid-template-columns: 70px 70px 70px
}