/* * {
    margin: 0;
    padding: 0;
} */

.box {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 12px ;
    font-family: monospace;
}

.izquierda {
    margin-right: 15px;
}

.datos {
    display: flex;
    flex-direction: column;
}

.labels {
    margin-bottom: 6px;
    margin-top: 10px;
    color: rgb(93 103 103);
    font-weight: bold;
    font-size: 10px;
}

.tips {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    margin-bottom: 10px;
}

.input {
    border: none;
    background-color: rgb(232, 236, 243);
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
    margin-bottom: 10px;
    color: rgb(4, 59, 59);
    text-align: right;
    font-weight: bold;
}

.input::placeholder {
    color: rgb(180, 178, 178);
    font-weight: bold;
}

.input_custom {
    border: none;
    background-color: rgb(232, 236, 243);
    padding: 5px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 13px;
    margin: 5px;
    color: rgb(93 103 103);
    font-weight: bold;
    text-align: right;
}

.input_custom::placeholder {
    color: rgb(76, 88, 88);
}

/*utilizo la siguiente linea de codigo para eliminar las flechas de los input tipo number*/
::-webkit-inner-spin-button, ::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

:focus-visible {
    outline: 1.8px solid rgb(46, 179, 179);
}

.button_tip {
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    background-color: rgb(4, 59, 59);
    color: ghostwhite;
    margin: 5px;
    font-weight: 600;
    cursor: pointer;
}

.button_tip:hover {
    background-color: rgb(91, 219, 219);
    color: rgb(4, 59, 59);
}

.btn_elegido {
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    background-color: rgb(46, 179, 179);
    color: rgb(4, 59, 59);
    margin: 5px;
    font-weight: 600;
    cursor: pointer;
}